<mat-toolbar color="primary">
  <span routerLink="/">Sign up Flow with Firebase</span>
  <span class="example-spacer"></span>
    <ng-container *ngIf="user$ | async as user; else loginButton">
              <button mat-button [matMenuTriggerFor]="userMenu">
      <img class="profile-image-toolbar" width="30" height="30"
           [src]="userImg ?? 'assets/images/dummy-user.png'" alt="image">
                {{ user.displayName ?? user.email }}
    </button>
    <mat-icon>expand_more</mat-icon>
  </ng-container>
    <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/user-list">
    <mat-icon>list</mat-icon>
    User List
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
