<div class="form-container mat-elevation-z5">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="Email address" formControlName="email"/>
      <mat-error *ngIf="email.errors?.['required']">
        Email address is required!
      </mat-error>
      <mat-error *ngIf="email.errors?.['email']">
        Please enter a correct email format!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password"/>
      <mat-error *ngIf="password.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button class="full-width" type="submit" mat-raised-button color="primary">Login</button>
    </div>
    <span class="center margin-top">New to out platform? <a class="sign-up-link"
                                                            routerLink="/sign-up"> Sign Up!</a></span>
  </form>
</div>

